# 幸福感预测

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

### pd显示设置

In [2]:
# 显示所有列
pd.set_option('display.max_columns', None)
# 显示所有行
pd.set_option('display.max_rows', None)

### 导入数据

In [3]:
# 导入数据
train = pd.read_csv("./data/happiness_train_abbr.csv")
test = pd.read_csv("./data/happiness_test_abbr.csv")

### 查看数据

In [7]:
# 查看数据形状
train.shape

(8000, 42)

In [8]:
test.shape

(2968, 41)

In [9]:
# 简单查看几条数据
train.head()

,id,happiness,survey_type,province,city,county,survey_time,gender,birth,nationality,religion,religion_freq,edu,income,political,floor_area,height_cm,weight_jin,health,health_problem,depression,hukou,socialize,relax,learn,equity,class,work_exper,work_status,work_yr,work_type,work_manage,family_income,family_m,family_status,house,car,marital,status_peer,status_3_before,view,inc_ability
0,1,4,1,12,32,59,2015/8/4 14:18,1,1959,1,1,1,11,20000,1,45.0,176,155,3,2,5,5,2,4,3,3,3,1,3.0,30.0,1.0,2.0,60000.0,2,2,1,2,3,3,2,4,3
1,2,4,2,18,52,85,2015/7/21 15:04,1,1992,1,1,1,12,20000,1,110.0,170,110,5,4,3,1,2,4,3,3,6,1,3.0,2.0,1.0,3.0,40000.0,3,4,1,2,1,1,1,4,2
2,3,4,2,29,83,126,2015/7/21 13:24,2,1967,1,0,3,4,2000,1,120.0,160,122,4,4,5,1,3,4,2,4,5,2,NaN,NaN,NaN,NaN,8000.0,3,3,1,2,3,2,1,4,2
3,4,5,2,10,28,51,2015/7/25 17:33,2,1943,1,1,1,3,6420,1,78.0,163,170,4,4,4,1,2,4,4,4,5,4,NaN,NaN,NaN,NaN,12000.0,3,3,1,1,7,2,1,3,2
4,5,4,1,7,18,36,2015/8/10 9:50,2,1994,1,1,1,12,-1,2,70.0,165,110,5,5,3,2,4,3,4,2,1,6,NaN,NaN,NaN,NaN,-2.0,4,3,1,1,1,3,2,3,-8

### 分割数据

In [4]:
# 分割数据集
x_train, x_test, y_train, y_test = train_test_split(train.iloc[:, 2:], train["happiness"], test_size=0.25)

### 查看数据是缺失程度

In [5]:
x_train.info(verbose=True,null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6000 entries, 4466 to 1958
Data columns (total 40 columns):
survey_type        6000 non-null int64
province           6000 non-null int64
city               6000 non-null int64
county             6000 non-null int64
survey_time        6000 non-null object
gender             6000 non-null int64
birth              6000 non-null int64
nationality        6000 non-null int64
religion           6000 non-null int64
religion_freq      6000 non-null int64
edu                6000 non-null int64
income             6000 non-null int64
political          6000 non-null int64
floor_area         6000 non-null float64
height_cm          6000 non-null int64
weight_jin         6000 non-null int64
health             6000 non-null int64
health_problem     6000 non-null int64
depression         6000 non-null int64
hukou              6000 non-null int64
socialize          6000 non-null int64
relax              6000 non-null int64
learn              6000 non-null int64
equity             6000 non-null int64
class              6000 non-null int64
work_exper         6000 non-null int64
work_status        2201 non-null float64
work_yr            2201 non-null float64
work_type          2201 non-null float64
work_manage        2201 non-null float64
family_income      5999 non-null float64
family_m           6000 non-null int64
family_status      6000 non-null int64
house              6000 non-null int64
car                6000 non-null int64
marital            6000 non-null int64
status_peer        6000 non-null int64
status_3_before    6000 non-null int64
view               6000 non-null int64
inc_ability        6000 non-null int64
dtypes: float64(6), int64(33), object(1)
memory usage: 1.9+ MB

### 查看label分布

In [6]:
y_train.value_counts()

 4    3606
 5    1074
 3     866
 2     368
 1      78
-8       8
Name: happiness, dtype: int64

### 特征工程

In [10]:
#将-8换成3  -8 是拒绝回答，3是说不上幸福不幸福
y_train=y_train.map(lambda x:3 if x==-8 else x)

In [11]:
y_train.value_counts()

4    3606
5    1074
3     874
2     368
1      78
Name: happiness, dtype: int64